.wy-side-nav-search{
    background-color: #d98918;
}
a {
    color: #f8951d;
    text-decoration: none;
}
a:visited {
    color: #f8951d;
    text-decoration: none;
}

a:hover {
    color: #c26d06;
    text-decoration: underline;
}

.wy-side-nav-search input[type=text]{
    border-color: #f8951d;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #fcfcfc;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0.809em;
}

.md-header {
    background-color: #f8951d;
}

.md-header-nav__button.md-logo {
    color: #ffffff;
}